@layer base {
  * {
    @apply border-border outline-ring/50;

    /* Custom Scrollbar */
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 8px;
  }

  body {
    @apply bg-background text-foreground;
  }
}
